#projects
  %a(href = '/projects/new' class = 'btn') New
  %table(class = 'table table-striped')
    - @projects.each do |project|
      %tr[project]
        %td.name
          %a(href = "/deployments?api_key=#{project.api_key}")
            = project.name
        %td.api_key= project.api_key

