%form(action = '/projects' method = 'post')
  %label(for = 'project_name') Name
  %input(type = 'text' name = 'project[name]' id='project_name')

  %p
    %input(type = 'submit' value = 'Save' class = 'btn')

